@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.btn{
    position: relative;
    overflow: hidden;
    display: inline-block;
    outline:none;
    border:none;
    text-transform: uppercase;
    color:$clr-white;
    font-family: $ff-primary;
    font-size:rem(20);
    line-height: 1.2;
    padding:em(16) em(24);
    @include transition(all, 0.3s, ease);
    z-index: 1;
   
    span{
        color:$clr-white;
        text-decoration: underline;
        text-decoration-color: $clr-secondary;
        -moz-text-decoration-color: $clr-secondary;
    }
    .nav-btn-text{
        text-decoration-color: $clr-secondary;
    }

    &:hover{
        cursor: pointer;
        text-decoration-color: $clr-primary;
        span{
            color:$clr-white;
        }
        .nav-btn-text{
            text-decoration-color: $clr-white;
        }
    }
}


.btn--primary{
    background: $clr-secondary;
    @include flex-center;
    gap:rem(16);

    &::before{
        background: $clr-primary;
    }
}


.btn--outline{
    border: 1px solid $clr-primary;
    background-color: $clr-white;
    transition: all 0.3s ease;
    span{
        color:$clr-black;
    }
    &::before{
        background: $clr-secondary;
    }

    &:hover{
        border-color:$clr-secondary;
        span{
            color:$clr-white;
        }
        &::before{
            bottom: 0;
        }
    }
}


.btn--transparent{
    display: inline-flex;
    background:transparent;
    @include flex-center-vertical;
    gap:rem(12);
    padding: 0;

    .nav-btn-text{
        @include link-hover-effect($clr-secondary, $clr-white);
    }

    span{
        @include link-hover-effect($clr-secondary, $clr-primary);
    }
    svg{
        path{
            transition:fill 0.3s ease; 
        }
    }

    &:hover{
        svg {
            .path-1{
                fill:$clr-primary;
            }
            .path-2{
                fill:$clr-white;
            }
        }
        span{
            background-position: 0 0;
        }
    }
}

.bg-colored{
    .btn--transparent{
        span{
            @include link-hover-effect($clr-white, $clr-secondary);
            text-decoration-color:$clr-white;
        }
        &:hover{
            span{
                background-position: 0 0;
                text-decoration-color:$clr-secondary;
            }
        }
    }
}


.btn--prev,
.btn--next{
    position: relative;
    @include border-radius(50%);
    @include flex-center;
    padding: 1.25em;
    flex-shrink: 0;
    z-index:2;
    &:hover{
        background: $clr-secondary;
        svg path{
            fill: $clr-white;
        }
    }
    // &::before,
    // &::after{
    //     content:"";
    //     position: absolute;
    //     left: 0;
    //     background: #000;
    //     width: 120px;
    //     height: 1px;
    // }
}

// .btn--prev{

// }

// .btn--next{

// }

// ======= Play Button =======
.play-btn-wrapper{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: rem(64);

    &--banner{
        display: none;
        @include breakpoint-sm{
            display: block;
        }
    }
    &--testimonials{
        right: 5rem;
        margin-bottom: rem(160);
    }
}

.play-btn{
    @include flex-center;
    @include dimensions(rem(80), rem(80));
    @include border-radius(50%);
    background: $clr-secondary;
    @include breakpoint-sm{
        @include dimensions(rem(96), rem(96));
    }
    @include breakpoint-lg{
        @include dimensions(rem(110), rem(110));
    }
    svg{
        @include dimensions(rem(32), rem(32));
    }

    &--testimonials{
        @include dimensions(rem(80), rem(80));
        @include breakpoint-xxxl{
            @include dimensions(rem(96), rem(96));
        }
    }
}
