$clr-primary: #000000;
$clr-secondary: #f58022;
$clr-tertiary: #104879;
$clr-tertiary-2: #2470B4;

$clr-quartery:#f6f6f6;

$clr-black: #000000;
$clr-white: #ffffff;


$clr-grey: #b4b4b4;
$clr-gray-1:#282828;;
$clr-grey-2: #c7c7c7;
$clr-grey-3: #d8d8d8;
