// --------- Saira-Black-Italic-------------
@font-face{
    font-family:"Saira-Black-Italic";
    src:url("../assets/fonts/Saira-BlackItalic/Saira-BlackItalic.eot");
    src:url("../assets/fonts/Saira-BlackItalic/Saira-BlackItalic.eot?#iefix") format("embedded-opentype"), 
        url("../assets/fonts/Saira-BlackItalic/Saira-BlackItalic.woff2") format('woff2'),
        url("../assets/fonts/Saira-BlackItalic/Saira-BlackItalic.woff") format('woff'),
        url("../assets/fonts/Saira-BlackItalic/Saira-BlackItalic.ttf") format('truetype'),
        url("../assets/fonts/Saira-BlackItalic/Saira-BlackItalic.svg#Saira-Black-Italic") format('svg');
    font-weight:900;
}

// --------- Saira-Regular -------------
@font-face{
    font-family:"Saira-Regular";
    src:url("../assets/fonts/Saira-Regular/Saira-Regular.eot");
    src:url("../assets/fonts/Saira-Regular/Saira-Regular.eot?#iefix") format("embedded-opentype"), 
        url("../assets/fonts/Saira-Regular/Saira-Regular.woff2") format('woff2'),
        url("../assets/fonts/Saira-Regular/Saira-Regular.woff") format('woff'),
        url("../assets/fonts/Saira-Regular/Saira-Regular.ttf") format('truetype'),
        url("../assets/fonts/Saira-Regular/Saira-Regular.svg#Saira-Regular") format('svg');
    font-weight:400;
}


$ff-primary:"Saira-Black-Italic", sans-serif;
$ff-secondary:"Saira-Regular", sans-serif;