@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.hero{
    position: relative;
    height: 100vh;
    @include breakpoint-lg{
        height: 90vh;
    }

    &--home{
        background: linear-gradient($linear-gradient-clr, $linear-gradient-clr), 
            url('../assets/images/home-mobile/home-banner.webp');
        @include background-cover;
        display: flex;
        align-items: flex-end;

        @include breakpoint-lg{
            background: linear-gradient($linear-gradient-clr, $linear-gradient-clr), 
                url('../assets/images/home-banner.webp');
            @include background-cover;
        }
    }
    &--about{
        background: linear-gradient($linear-gradient-clr, $linear-gradient-clr), 
        url('../assets/images/about/about-banner.png');
        @include background-cover;
        display: flex;
        align-items: flex-end;
        height: 80vh;
    }
  
    &__inner{
        position: relative;
        height: 100%;
    }

    &__subTitle{
        width: min(100%, 52ch);
    }
}

.cta{
    &__inner{
        position: relative;
    }
    &__content{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: rem(64);
        @include breakpoint-sm{
            margin-bottom: rem(80);
        }
    }
}


.brands{
    &__container{
        position: relative;
        background: $clr-tertiary;
        margin-top: -2px;
        figure{
            img{
                margin-inline:auto;
            }
        }
    }
    &__inner-wrapper{
        @include flex-center-vertical;
        justify-content: space-around;
        figure{
            flex-shrink: 0;
        }
    }
    &__wrapper-top{
        display: flex;
        align-items: center;
        gap: 3rem;
        h5{
            white-space: nowrap;
        }
    }
}

.about-us{
    position: relative;
    &__inner{
        position: absolute;
        top: 50%;
        width: 100%;
        @include breakpoint-sm{
            top:60%; 
        }
        @include breakpoint-md{
            top:40%; 
        }
        @include breakpoint-xl{
            top: 60%; 
        }
    }
}

.img-container{
    position: relative;
}

.workout-steps{
    &__container{
        $full-width:100%;
        @include breakpoint-xl{
            max-width:calc($full-width*0.86);
            margin-inline: auto;
        }
        @include breakpoint-xxxl{
            max-width:calc($full-width*0.84);
            margin-inline: auto;
        }
    }
}

.steps-card{
    max-width: 22ch;
    .divider--secondary{
        width: rem(128) !important;
        height: rem(7);          
    }
    &--about{
        max-width: 26ch;
        @include breakpoint-xxl{
            max-width: 30ch;
        }
    }
}

.why-smart{
    &__wrapper{
        width: min(100%,80rem);
        .divider--secondary{
            width: rem(128) !important;
            height: rem(7);          
        }
    }
}

.testimonials{
    &__container{
        position: relative;
    }
    &__wrapper{
        position: relative;
    }
    &__figure{
        position: relative;
        width: min(100%, rem(1160));
        @include breakpoint-sm{
            width: min(75%, rem(1160));
        }
        @include breakpoint-lg{
            width: min(70%, rem(1160));
        }
    }
    &__figcaption{
        transform: translateX(30%);
        @include breakpoint-lg{
            
        }
        @include breakpoint-xl{
            transform: translateX(42%);
        }
        @include breakpoint-xxl{
            transform: translateX(45%);
        }
        span{
            font-size: clamp(rem(20), 6vw + 1rem, rem(28));
            line-height: 2.37;
            font-family: $ff-primary;
            @include breakpoint-sm{
                line-height: 3.37;
            }
        }
    }
    &__action-btns{
        @include flex-center-vertical;
        justify-content: flex-end;
        gap:1rem;
        @include breakpoint-sm{
            display: none;
        }
    }
}

.swiper-testimonials{
    @include breakpoint-sm{
        @include flex-center;
    }
    @include breakpoint-lg{
        gap:1rem;
    }
    @include breakpoint-xxl{
        gap:5rem;
    }
    @include breakpoint-xxxl{
        gap:10rem;
    }
}

.swiper-wrapper{
    width: min(100%, rem(1160));
    margin-inline:auto;
    @include breakpoint-sm{
        width: min(75%, rem(1160));
    }
    @include breakpoint-lg{
        width: min(70%, rem(1160));
    }
}

.swiper-button-disabled{
    opacity: 0.8;
    background: $clr-secondary;
    border-color:$clr-secondary;
    svg path{
        fill: $clr-white;
    }
}

.swiper-pagination-current,
.swiper-pagination-total{
    position: relative;
    &:before{
        content:"0";
        color:$clr-black;
    }
}

.swiper-pagination-fraction{
    position: absolute;
    top: -47px;
    left: 80%;
    z-index: -1;
}

.swiper-pagination{
    text-align: left;
}



.packages{
    &__card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 3rem;
        row-gap: 3rem;
        @include breakpoint-sm{
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1.5rem;
        }
        @include breakpoint-lg{
            column-gap: 2rem;
        }
        @include breakpoint-xl{
            grid-template-columns: repeat(3, 1fr);
        }
        @include breakpoint-xxl{
            column-gap: 3rem;
            row-gap: 5rem; 
        }
    }
    .card{
        background-color:$clr-quartery;
        border:1px solid $clr-primary;
        &__header, &__body, &__footer{
            padding:em(16);
            @include breakpoint-md{
                padding:em(16) em(20);
            }
            @include breakpoint-lg{
                padding-inline:em(32);
            }
        }
        &__header{
            border-bottom: 1px solid $clr-primary;
            padding-block:em(16);
            @include breakpoint-md{
                padding-block:em(20);
            }
            @include breakpoint-lg{
                padding-block:em(28);
            }
        }
        &__footer{
            background-color: $clr-secondary;
            .btn--transparent{
                .btn-text{
                    @include link-hover-effect($clr-white, $clr-primary);
                }
                .btn-box{
                    background: $clr-white;
                    path{
                        fill:$clr-secondary;
                    }
                }
                &:hover{
                    .btn-text{
                        background-position: 0 0;
                        text-decoration-color: $clr-primary;
                        -moz-text-decoration-color: $clr-primary;
                    }
                    .btn-box{
                        background: $clr-primary;
                        path{
                            fill:$clr-white;
                        }
                    }
                }
            }
        }
        &__list {
            padding-left: em(16);
            @include breakpoint-md{
                padding-left: em(18);
            }
            @include breakpoint-lg{
                padding-left: em(20);
            }
            li{
                font-size: rem(14);
                line-height: 1.5;
                list-style-type: square;
                @include breakpoint-md{
                    font-size: rem(16);
                }
                span{
                    margin-left: rem(6);
                    @include breakpoint-sm{
                        margin-left: rem(8);
                    }
                    @include breakpoint-md{
                        margin-left: rem(10);
                    }
                }
                &::marker{
                    color: $clr-secondary;
                    font-size: rem(20);
                }
            }
        }
    }
}

.faqs-section-header{
    max-width: 76ch;
    margin-inline: auto;
}

.stay-connected-link{
    display: inherit;
    font-family: $ff-primary;
    color:$clr-secondary;
    font-size: clamp(1.5rem, 4vw + 1rem, 2.5rem);
    line-height: 1;
    @include link-hover-effect($clr-secondary, $clr-primary);
    &:hover{
        background-position: 0 0;
        text-decoration: underline;
        text-decoration-color: $clr-primary;
        -moz-text-decoration-color: $clr-primary;
    }
}

.blogs-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    @include breakpoint-md{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    @include breakpoint-lg{
        column-gap: 3rem;
    }
    @include breakpoint-xl{
        row-gap: 5rem;
    }
    @include breakpoint-xxl{
        row-gap: 6rem;
    }
}