@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.hero{
    position: relative;
    // @include background-cover;
    display: flex;
    align-items: flex-end;
    height: 100vh;
    @include breakpoint-lg{
        height: 90vh;
    }

    &--home{
        background: linear-gradient($linear-gradient-clr, $linear-gradient-clr), 
            url('../assets/images/home-mobile/home-banner.webp');
        @include background-cover;

        @include breakpoint-lg{
            background: linear-gradient($linear-gradient-clr, $linear-gradient-clr), 
                url('../assets/images/home-banner.webp');
            @include background-cover;
        }
    }
    &--about{
        background: linear-gradient($linear-gradient-clr, $linear-gradient-clr), 
        url('../assets/images/about/about-banner.png');
        @include background-cover;
        height: 80vh;
    }
    &--ems{
        background: linear-gradient($linear-gradient-clr, $linear-gradient-clr), 
        url('../assets/images/ems/banner.png');
        @include background-cover;
        height: 80vh;
    }
    &--packages{
        background: linear-gradient($linear-gradient-clr, $linear-gradient-clr), 
        url('../assets/images/packages-banner.png');
        @include background-cover;
        height: 80vh;
    }
  
    &__inner{
        position: relative;
        height: 100%;
    }

    &__subTitle{
        width: min(100%, 52ch);
    }
}

.brands{
    &__container{
        position: relative;
        background: $clr-tertiary;
        margin-top: -2px;
        figure{
            img{
                margin-inline:auto;
            }
        }
    }
    &__inner-wrapper{
        @include flex-center-vertical;
        justify-content: space-around;
        figure{
            flex-shrink: 0;
        }
    }
    &__wrapper-top{
        display: flex;
        align-items: center;
        gap: 3rem;
        h5{
            white-space: nowrap;
        }
    }
}

.about-us{
    position: relative;
    background-image: url("../assets/images/about-sec-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    @include breakpoint-sm{
        height: 80vh;
    }
    @include breakpoint-lg{
        height: 100vh;
    }
    &--ems {
        background-image: url("../assets/images/ems/img-3.png");
    }
    &__inner{
        position: absolute;
        width: 100%;
        bottom: 0;
        margin-bottom: 3rem;
        @include breakpoint-md{
            margin-bottom: 5rem;
        }
    }
}

.img-container{
    position: relative;
}

.workout-steps{
    &__container{
        $full-width:100%;
        @include breakpoint-xl{
            max-width:calc($full-width*0.86);
            margin-inline: auto;
        }
        @include breakpoint-xxxl{
            max-width:calc($full-width*0.84);
            margin-inline: auto;
        }
    }
}

.steps-card{
    max-width: 22ch;
    .divider--secondary{
        width: rem(128) !important;
        height: rem(7);          
    }
    &--about{
        max-width: 28ch;
        @include breakpoint-xxl{
            max-width: 38ch;
        }
    }
}

.cta{
    background-image: url("../assets/images/cta-banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    @include breakpoint-sm{
        height: 80vh;
    }
    @include breakpoint-lg{
        height: 100vh;
    }
    &__inner{
        position: relative;
    }
    &__content{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: rem(160);
        @include breakpoint-lg{
            margin-bottom: rem(200);
        }
        @include breakpoint-xxl{
            margin-bottom: rem(232);
        }
    }
}

.cta-list{
    .divider--secondary{
        width: rem(128) !important;
        height: rem(7);  
        margin-left: 10%;
        @include breakpoint-sm{
            margin-left: 12%;
        }        
        @include breakpoint-md{
            margin-left: 15%;
        }        
        @include breakpoint-xl{
            margin-left: 16%;
        }        
        @include breakpoint-xxl{
            margin-left: 18%;
        }        
    }
}

.why-smart{
    &__wrapper{
        width: min(100%,80rem);
        .divider--secondary{
            width: rem(128) !important;
            height: rem(7);          
        }
    }
}

.testimonials{
    &__container{
        position: relative;
    }
    &__wrapper{
        position: relative;
    }
    &__figure{
        position: relative;
        width: min(100%, rem(1160));
        @include breakpoint-sm{
            width: min(75%, rem(1160));
        }
        @include breakpoint-lg{
            width: min(70%, rem(1160));
        }
    }
    &__figcaption{
        transform: translateX(30%);
        @include breakpoint-lg{
            
        }
        @include breakpoint-xl{
            transform: translateX(42%);
        }
        @include breakpoint-xxl{
            transform: translateX(45%);
        }
        span{
            font-size: clamp(rem(20), 6vw + 1rem, rem(28));
            line-height: 2.37;
            font-family: $ff-primary;
            @include breakpoint-sm{
                line-height: 3.37;
            }
        }
    }
    &__action-btns{
        @include flex-center-vertical;
        justify-content: flex-end;
        gap:1rem;
        @include breakpoint-sm{
            display: none;
        }
    }
}

.map-area {
    &__iframe{
        height: rem(400);
        @include breakpoint-sm{
            height: rem(450);
        }
        @include breakpoint-md{
            height: rem(500);
        }
        @include breakpoint-lg{
            height: rem(576);
        }
    }
}


.packages{
    &__card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 3rem;
        row-gap: 4rem;
        @include breakpoint-sm{
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1.5rem;
        }
        @include breakpoint-lg{
            column-gap: 2rem;
        }
        @include breakpoint-xl{
            grid-template-columns: repeat(3, 1fr);
        }
        @include breakpoint-xxl{
            column-gap: 3rem;
            row-gap: 5rem; 
        }
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color:$clr-quartery;
        border:1px solid $clr-primary;
        &__header, &__body, &__footer{
            padding:em(16);
            @include breakpoint-md{
                padding:em(16) em(20);
            }
            @include breakpoint-lg{
                padding-inline:em(32);
            }
        }
        &__header{
            border-bottom: 1px solid $clr-primary;
            padding-block:em(16);
            @include breakpoint-md{
                padding-block:em(20);
            }
        }
        &__body{
            flex: 1;
            padding-block: em(32);
        }
        &__footer{
            background-color: $clr-secondary;
            .btn--transparent{
                .btn-text{
                    @include link-hover-effect($clr-white, $clr-primary);
                }
                .btn-box{
                    background: $clr-white;
                    path{
                        fill:$clr-secondary;
                    }
                }
                &:hover{
                    .btn-text{
                        background-position: 0 0;
                        text-decoration-color: $clr-primary;
                        -moz-text-decoration-color: $clr-primary;
                    }
                    .btn-box{
                        background: $clr-primary;
                        path{
                            fill:$clr-white;
                        }
                    }
                }
            }
        }
        &__list {
            padding-left: em(16);
            @include breakpoint-md{
                padding-left: em(18);
            }
            @include breakpoint-lg{
                padding-left: em(20);
            }
            li{
                font-size: rem(14);
                line-height: 1.5;
                list-style-type: square;
                list-style-position: outside;
                @include breakpoint-md{
                    font-size: rem(16);
                }
                // span{
                //     margin-left: rem(6);
                //     @include breakpoint-sm{
                //         margin-left: rem(8);
                //     }
                //     @include breakpoint-md{
                //         margin-left: rem(10);
                //     }
                // }
                &::marker{
                    color: $clr-secondary;
                    font-size: rem(20);
                }
            }
        }
    }
}


.stay-connected-link{
    display: inherit;
    font-family: $ff-primary;
    color:$clr-secondary;
    font-size: clamp(1.5rem, 4vw + 1rem, 2.5rem);
    line-height: 1;
    @include link-hover-effect($clr-secondary, $clr-primary);
    &:hover{
        background-position: 0 0;
        text-decoration: underline;
        text-decoration-color: $clr-primary;
        -moz-text-decoration-color: $clr-primary;
    }
}

.blogs-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    @include breakpoint-md{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    @include breakpoint-lg{
        column-gap: 3rem;
    }
    @include breakpoint-xl{
        row-gap: 5rem;
    }
    @include breakpoint-xxl{
        row-gap: 6rem;
    }
}


.process-container{
    position: relative;
    z-index: 1;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 80%;
        height: 1px;
        background: $clr-primary;
        margin-top: 3rem;
        z-index: -1;
        display: none;
        @include breakpoint-xl{
            display: block;
        }
    }
}


.step-number{
    position: relative;
    @include dimensions(rem(72), rem(72));
    background-color: $clr-tertiary;
    @include flex-center;
    @include border-radius(50%);
    @include breakpoint-sm{
        @include dimensions(rem(84), rem(84)); 
    }
    @include breakpoint-md{
        @include dimensions(rem(94), rem(94)); 
    }
    &__text{
        font-size: clamp(1.5rem, 4vw + 1rem, 3.5rem);
        font-family: $ff-primary;
        color:$clr-white;
    }
}

.date-text{
    font-size: rem(16);
    font-weight: 700;
}